@import "base.sass"

.card
  text-align: left
.card.back
  display: none

//////

// colors

div
  background: rgba(100, 100, 100, 0.1)
  border-radius: 6px

a
  background: lightGreen
  color: #444
a:hover
  background: lightBlue

.cards > .card
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  margin-bottom: -14px
  height: auto

.card
  background: #999
  border: 2px solid #EEE
  border-radius: 1.3em
  height: 220px

.card.last
  height: 220px
  border-radius: 1.3em
  margin-bottom: 3%



// div:after
//   content: ""
//   display: table
//   clear: both

// .clear
//   clear: both
//   padding: 0
//   width: 100%
//   border: 0