*
  padding: 3% // 20px
  background: #EEE
  border: 1px solid #000
  max-width: 1000px
  text-align: center
  box-sizing: border-box

p
  padding: 3% 0%

input
  display: block

input[type=text], input[type=password]
  width: 100%


div
  display: block

a
  display: inline-block


// div:after
//   content: ""
//   display: table
//   clear: both

// .clear
//   clear: both
//   padding: 0
//   width: 100%
//   border: 0