- load "lib/helpers.rb"
- layout do
  .wallet
    .card
      %a{ href: "/card.html" } 1ALice

      %p 5KgMrRCtMdvbH1gVooRr4h7JkaeJVhHB98fjVwZyet7xeux6eJn

      .left
        %a{ href: "/card.html" } <
