- load "lib/helpers.rb"
- layout do
  .wallet
    .card{ data: { idx: 0 } }
      %a{ href: "/card.html" } 1ALice

      %p 1ALicee1bcqFCM3Th3EK4YQE6nwn3HxPvo

      .right
        %a{ href: "/card_back.html" } >


