- load "lib/helpers.rb"
- layout do
  .wizard{ data: { step: 0 } }
    %a.btn.btn_big{ href: "/passphrase_new.html" }
      Generate
    %p
      or
      %a.btn.btn_big{ href: "/import.html" } Import