!!!
%html
  %head
    %title EasyWallet
    %meta{ charset: "utf-8" }
    %link{ href: "/css/main.css", rel: "stylesheet" }
  %body
    .container
      .left
        %a{ href: "/" } EW
      = yielding
      %script{ src: "/js/app.js", type: "text/javascript" }

