.wizard{ data: { step: 1 } }
  %h1 Set Password (Passphrase)

  %input{ name: "passphrase", type: "password" }
  %input{ name: "passphrase_confirmation", type: "password" }

  %input{ value: "Set password", type: "submit" }