- load "lib/helpers.rb"
- layout do
  .wizard{ data: { step: 1 } }
    %h1 Set Password (Passphrase)

    -# TODO: %form{ method: :post }
    %form{ action: "/backup.html", method: :get }
      %input{ name: "passphrase", type: "password" }
      %input{ name: "passphrase_confirmation", type: "password" }

      %input{ value: "Set password", type: "submit" }