- load "lib/helpers.rb"
- layout do
  .wallet
    .cards
      .card{ data: { idx: 0 } }
        %a{ href: "/card.html" } 1ALice
      .card{ data: { idx: 1 } }
        %a{ href: "/card.html" } 1Shopp
      .card{ data: { idx: 2 } }
        %a{ href: "/card.html" } 1Donat
      .card.last{ data: { idx: 3 } }
        %a{ href: "/card.html" } 1EvoL

        %p 1ALicee1bcqFCM3Th3EK4YQE6nwn3HxPvo

      -# .card #{span "1Alice"}
      -# .card #{span "1Shopp"} (ing)
      -# .card #{span "1Donat"} (ions)
      -# .card #{span "1Evol"} (ution)

  .info
    %a{ href: "/generate_or_import.html" } Generate or import