- load "lib/helpers.rb"
- layout do
  .wallet
    .cards
      .card
        %a{ href: "/card.html" } 1ALice
      .card
        %a{ href: "/card.html" } 1Shopp
      .card
        %a{ href: "/card.html" } 1Donat
      .card
        %a{ href: "/card.html" } 1EvoL

      -# .card #{span "1Alice"}
      -# .card #{span "1Shopp"} (ing)
      -# .card #{span "1Donat"} (ions)
      -# .card #{span "1Evol"} (ution)
  
  .info
    %a{ href: "/generate_or_import.html" } Generate or import