html, body {
  font-family: sans-serif, Arial, Verdana;
  text-align: center; }

a {
  text-decoration: none; }

* {
  padding: 3%;
  background: #eeeeee;
  border: 1px solid #999999;
  max-width: 1000px;
  text-align: center;
  box-sizing: border-box; }

html, body {
  max-width: 5000px; }

p {
  padding: 1% 0; }

p, span {
  border: 0; }

div {
  display: block; }

a {
  display: inline-block; }

h1 > span {
  font-size: 70%; }

input {
  display: block; }

input[type=text], input[type=password] {
  width: 100%; }

.hidden {
  display: none; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.container {
  margin: 0 auto;
  width: 100%; }

.card {
  text-align: left; }

.card.back {
  display: none; }

div {
  background: rgba(100, 100, 100, 0.1);
  border-radius: 6px; }

a {
  background: lightgreen;
  color: #444444; }

a:hover {
  background: lightblue; }

.cards > .card {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -14px;
  height: auto; }

.card {
  background: #999999;
  border: 2px solid #eeeeee;
  border-radius: 1.3em;
  height: 220px; }

.card.last {
  height: 220px;
  border-radius: 1.3em;
  margin-bottom: 3%; }

.card[data-idx="0"] {
  background: #ca4a00; }

.card[data-idx="1"] {
  background: #ca9a00; }

.card[data-idx="2"] {
  background: #cac200; }

.card[data-idx="3"] {
  background: #80ca00; }

.card[data-idx="4"] {
  background: #80ca00; }

.card[data-idx="5"] {
  background: #c99a00; }

.card[data-idx="6"] {
  background: #ca4a00; }

.wallet {
  background: #999999; }
